[submodule "hack/bats/lib/bats-core"]
	path = hack/bats/lib/bats-core
	url = https://github.com/bats-core/bats-core.git
	branch = master
[submodule "hack/bats/lib/bats-file"]
	path = hack/bats/lib/bats-file
	url = https://github.com/bats-core/bats-file.git
	branch = master
[submodule "hack/bats/lib/bats-assert"]
	path = hack/bats/lib/bats-assert
	url = https://github.com/bats-core/bats-assert.git
	branch = master
[submodule "hack/bats/lib/bats-support"]
	path = hack/bats/lib/bats-support
	url = https://github.com/bats-core/bats-support.git
	branch = master
