---

extends: default

rules:
  indentation:
    indent-sequences: false
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  comments-indentation: disable
  document-start: disable
  line-length: disable
