
mainmenu "Lima"

config GUESTAGENT_OS_LINUX
	bool "guestagent OS: Linux"
	help
		Build lima-guestagent for "Linux" OS
	default y

config GUESTAGENT_ARCH_X8664
	bool "guestagent Arch: x86_64"
	help
		Build lima-guestagent for "x86_64" Arch
	default y

config GUESTAGENT_ARCH_AARCH64
	bool "guestagent Arch: aarch64"
	help
		Build lima-guestagent for "aarch64" Arch
	default y

config GUESTAGENT_ARCH_ARMV7L
	bool "guestagent Arch: armv7l"
	help
		Build lima-guestagent for "armv7l" Arch
	default y

config GUESTAGENT_ARCH_RISCV64
	bool "guestagent Arch: riscv64"
	help
		Build lima-guestagent for "riscv64" Arch
	default y

config GUESTAGENT_COMPRESS
	bool "guestagent compress"
	help
		Compress lima-guestagent
	default n

choice GUESTAGENT_COMPRESS_PROGRAM
	depends on GUESTAGENT_COMPRESS
	bool "guestagent compress program"
	default GUESTAGENT_COMPRESS_GZIP

config GUESTAGENT_COMPRESS_GZIP
	depends on GUESTAGENT_COMPRESS
	bool "gzip"
	help
		Compress lima-guestagent using gzip

config GUESTAGENT_COMPRESS_ZSTD
	depends on GUESTAGENT_COMPRESS
	bool "zstd"
	help
		Compress lima-guestagent using zstd

endchoice

config GUESTAGENT_COMPRESS_LEVEL
	depends on GUESTAGENT_COMPRESS
	int "guestagent compress level"
	help
		Compression level to use (default: 3)
	default 9 if GUESTAGENT_COMPRESS_GZIP
	default 19 if GUESTAGENT_COMPRESS_ZSTD
