+++
title = "Lima"
linkTitle = "Lima"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="white" >}}
<div class="mx-auto">
  <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
  Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="secondary" %}}
<p>
  <strong>What is Lima?</strong>
</p>

<p>
  Lima launches Linux virtual machines with automatic file sharing and port forwarding (similar to WSL2).
</p>
{{% /blocks/lead %}}
{{< blocks/section color="dark" type="row" >}}
{{% blocks/feature icon="fa-solid fa-code" title="Install Lima" %}}
  <a class="mr-3 mb-4 text-secondary" href="{{< relref "/docs/installation" >}}">
Get Lima Here <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-chalkboard" title="Try Lima" %}}
<a class="mr-3 mb-4 text-secondary" href="{{< relref "/docs/usage" >}}">
Get started with Lima <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-brands fa-github" title="Contributions welcome" %}}
<a class="mr-3 mb-4 text-secondary" href="{{< relref "/community" >}}">
Join the Lima community <i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/adoptors >}}

{{< blocks/cncf >}}
