[Unit]
Description=lima-guestagent

[Service]
ExecStart={{.Binary}} daemon {{.Args}} --runtime-dir="%t/%N"
Type=simple
Restart=on-failure
OOMPolicy=continue
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
