[Unit]
Description=lima-guestagent

[Service]
ExecStart={{.Binary}} daemon {{.Args}}
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
