[Unit]
Description=lima-guestagent

[Service]
ExecStart={{.Binary}} daemon {{.Args}}
Type=simple
Restart=on-failure
OOMPolicy=continue
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
