<?xml version="1.0" encoding="utf-8"?>
<unattend xmlns="urn:schemas-microsoft-com:unattend">
  <settings pass="oobeSystem">
    <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS">
      <ComputerName>{{ .Hostname }}</ComputerName>
      <RegisteredOwner>{{ .User }}</RegisteredOwner>
{{- if .TimeZone }}
      <TimeZone>{{ .TimeZone }}</TimeZone>
{{- end }}
    </component>
  </settings>
  <!-- Lima SSH keys (placeholder, consumed by later Windows provisioning):
{{- range .SSHPubKeys }}
    {{ . }}
{{- end }}
  -->
</unattend>
