{{ define "main" -}}

<div><a class="td-offset-anchor"></a></div>
<section
        class="join-community row td-box td-box--primary position-relative td-box--height-auto"
>
    <div class="col-12">
        <div class="container text-center td-arrow-down">
            <span class="h4 mb-0">
                <h1>{{ T "community_join" . }}</h1>
                <p>{{ T "community_introduce" . }}</p>
            </span>
        </div>
    </div>
</section>
{{ partial "community_links.html" . -}}

{{ with .Content -}}
<div class="td-content">
    {{ . }}
</div>
{{- end -}}

{{ end }}