name: test

on:
  push:
    branches:
      - master
      - 'release/**'
  pull_request:

jobs:
  project:
    name: Project Checks
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - uses: actions/checkout@v2
        with:
          fetch-depth: 25
      - name: "Check DCO sign"
        run: |
          go get -u github.com/vbatts/git-validation
          ./hack/validate-dco.sh

  golangci-lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.35
          args: --verbose

  unit:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, ubuntu-20.04]
    timeout-minutes: 20
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Make
        run: make
      - name: Unit tests
        run: go test -v ./...

  integration:
    name: Integration tests
    runs-on: macos-10.15
    timeout-minutes: 40
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Make
        run: make
      - name: Install
        run: make install
      - name: Install QEMU
        run: brew install qemu
      - name: Prepare ssh
        run: |
          if [ -e ~/.ssh/id_rsa ]; then
            echo "~/.ssh/id_rsa already exists"
          else
            echo "Generating ~/.ssh/id_rsa"
            ssh-keygen -b 2048 -t rsa -f ~/.ssh/id_rsa -q -N ""
          fi
      - name: Smoke tests
        run: |
          limactl start --tty=false default
          lima uname -a
          echo "this file was created on macOS" > ~/foo
          lima cat ~/foo
          limactl stop default
      - name: Validate examples
        run: limactl validate examples/*.yaml

  artifacts:
    name: Artifacts
    # the release pipeline uses Linux, so we Linux here as well
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Make artifacts
        run: make artifacts
